/* based on MVP.css v1.1 - https://github.com/andybrewer/mvp */

/* Layout */
*, :after, :before {
    box-sizing: border-box;
}

article aside {
    background: $color-secondary-accent;
    border-left: 4px solid $color-secondary;
    padding: 0.01rem 0.8rem;
}

body {
    background: $color-bg;
    color: $color-text;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    line-height: $line-height;
    padding: 1.5rem 0;
    margin: 0;
    overflow-x: hidden;
}

hr {
    background-color: $color-bg-secondary;
    border: none;
    height: 1px;
    margin: 2rem 0;
}

html {
    overflow-y: scroll;
}
/*
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: $justify-important;
}*/

section aside {
    border: 1px solid $color-bg-secondary;
    border-radius: $border-radius;
    box-shadow: $box-shadow $color-shadow;
    //margin: 1rem;
    padding: 1.25rem;
    //width: $width-card;
}

section aside:hover {
    box-shadow: $box-shadow $color-bg-secondary;
}

/* Nav */
nav {
    align-items: center;
    display: flex;
    font-weight: bold;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 0.5rem;
}

/* Typography */
samp {
    background-color: $color-accent;
    border-radius: $border-radius;
    color: $color-text;
    display: inline-block;
    margin: 0 0.1rem;
    padding: 0rem 0.5rem;
}

h1 {
    line-height: $line-height;
}

ul li {
    padding: 0.2rem 0;
}

p {
    margin: 0.75rem 0;
    padding: 0;
}

/* Links */
a {
    color: $color-secondary;
    font-weight: bold;
    text-decoration: none;
}

a[href^="tel:"]:before {
    content: "\260e";
    margin-right: 0.5em;
}

a:hover {
    filter: brightness($hover-brightness);
    text-decoration: underline;
}

button {
    border-radius: $border-radius;
    display: inline-block;
    font-size: medium;
    font-weight: bold;
    margin: 1.5rem 0 0.5rem 0;
    padding: 0.75rem 1.5rem;
}

button:hover {
    cursor: pointer;
    filter: brightness($hover-brightness);
}

button {
    background-color: $color;
    border: 2px solid $color;
    color: $color-bg;
}

/* Forms */
input {
    //display: block;
    font-size: inherit;
    //max-width: $width-card-wide;
    width: 175px;
}

input {
    border: 1px solid $color-bg-secondary;
    border-radius: $border-radius;
    margin: 1rem 0;
    padding: 0.4rem 0.8rem;
}

button:disabled {
    background: $color-bg-secondary;
    border-color: $color-bg-secondary;
    color: $color-text-secondary;
    cursor: not-allowed;
}

button[disabled]:hover {
    filter: none;
}

button:focus,
input:focus {
    outline: none;
}

/* Quotes */
blockquote {
    display: block;
    font-size: x-large;
    line-height: $line-height;
    margin: 1rem auto;
    max-width: $width-card-medium;
    padding: 1.5rem 1rem;
    text-align: $justify-important;
}

blockquote footer {
    color: $color-text-secondary;
    display: block;
    font-size: small;
    line-height: $line-height;
    padding: 1.5rem 0;
}
