#locate-btn {
  display: none;
  position: absolute;
  top: 8px;
  right: 8px;
  margin: 0;
  z-index: 1337;
}

#search-btn {
  display: block;
  margin: 0;
}

.categories {
  max-height: 256px;
  overflow-y: auto;
  
  > button {
    background-color: $white;
    color: $primary;
    font-size: 14px;
    font-weight: normal;
    padding: 1px 6px;
    margin: 0 0 0.25rem 0;

    &:hover,
    &.active {
      background-color: $primary;
      color: $white;
    }
  }
}
