.filter {
    display: flex;
    justify-content: space-between;
    align-items: center;

    samp {
        position: absolute;
        top: 15px;
        right: 0.25rem;
    }
}

.filter-box {
    position: relative;
}
