.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.5rem;
    margin-left: -0.5rem;
}
  
.row > * {
    width: 100%;
    max-width: 100%;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

@media (max-width: 767px) {
    .mt-sm-1 {
        margin-top: 1rem;
    }
}

@media (max-width: 991px) {
    .mt-md-1 {
        margin-top: 1rem;
    }
}

@media (min-width: 768px) {
    .col-md-6 {
        flex: 0 0 auto;
        width: 50%;
    }
}

@media (min-width: 992px) {
    .col-lg-2 {
        flex: 0 0 auto;
        width: 16.666667%;
    }

    .col-lg-5 {
        flex: 0 0 auto;
        width: 41.666667%;
    }
}
