header {
  > h1 {
    margin: 0;

    > a:hover {
      text-decoration: none;
    }
  }
  > div {
    margin-top: 1rem;
  }

  label {
    cursor: pointer;
  }

  .form-control {
    display: block;
    width: 100%;
    background-color: #f9f9f9;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 2.5px;
    font-size: 14px;
    -webkit-appearance: none;
    appearance: none;
    margin-bottom: 24px;
    height: 49px;
  }
  
  .choices__inner {
    height: 49px;
  }
}