.text-center {
  text-align: center;
}

.d-block {
  display: block !important;
}

.d-none {
  display: none !important;
}

@media (min-width: 768px) {
  .float-right-md {
    float: right !important;
  }
}

.m-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 0.75rem;
}

@media (min-width: 576px) {
  .mt-sm-0 {
    margin-top: 0;
  }
}

@media (min-width: 768px) {
  .mt-md-0 {
      margin-top: 0;
  }
}

@media (min-width: 992px) {
  .mt-lg-0 {
    margin-top: 0;
  }
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.text-truncate{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
