.text-center {
  text-align: center;
}

.d-block {
  display: block;
}

.d-none {
  display: none !important;
}

.mt-1 {
  margin-top: 1rem;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}
