.columns {
    columns: 2 145px;
    column-gap: 5px;
    list-style: none;
    padding-left: 0;

    @media (min-width: 576px) {
        columns: 3 168px;
    }

    @media (min-width: 768px) {
        columns: 4 170px;
    }

    @media (min-width: 992px) {
        columns: 5 183px;
    }

    summary,
    li {
        word-break: break-word;
    }

    .show {
        display: list-item;
    }
    
    .hide {
        display: none;
    }

    details {
        color: var(--color);
        font-weight: bold;

        li > a {
            font-weight: normal;
        }

        > summary {
            list-style: none;
        }
    }
    
    summary::-webkit-details-marker {
        display: none;
    }
    
    summary::after {
        content: ' ►';
    }
    
    details[open] summary:after {
        content: " ▼";
    }
}
