.columns {
    columns: 2 145px;
    column-gap: 5px;
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    max-height: 256px;
    overflow: auto;

    @media (min-width: 576px) {
        columns: 3 189px;
    }

    @media (min-width: 768px) {
        columns: 4 189px;
    }

    > li.show {
        display: list-item;
    }
    > li.hide {
        display: none;
    }
}
