<!doctype html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ block "title" . }}{{ .Title }} | {{ .Site.Params.site }}{{ end }}</title>
    {{- $description := printf "Entdecke alle Einkaufsmöglichkeiten in %s" .Site.Title }}
    {{- if eq .Kind "section" }}
      {{- $description = printf "Entdecke alle Einkaufsmöglichkeiten in %s" .Title }}
    {{- else if .IsPage }}
      {{- $dirs := split .File.Dir "/" }}
      {{- $main := index $dirs 0 }}
      {{- $city := index $dirs 1 }}
      {{- $entry := index .Site.Data $main $city .File.BaseFileName }}
      {{- $name := $entry.city }}
      {{- $opening_hours := "" }}{{ if $entry.opening_hours }}{{ $opening_hours = ", Öffnungszeiten" }}{{ end }}
      {{- $phone := "" }}{{ if $entry.phone }}{{ $phone = ", Telefonnummer" }}{{ end }}
      {{- $website := "" }}{{ if $entry.website }}{{ $website = " und Link zur Webseite" }}{{ end }}
      {{- $description = printf "Adresse%s%s%s von %s in %s" $opening_hours $phone $website .Title $name }}
    {{- end }}
    <meta name="description" content="{{ $description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta property="og:site_name" content="{{ .Site.Params.site }}">
    <meta property="og:title" content="{{ $.Title }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:image" content="{{ .Site.BaseURL }}img/logo-1200x1200.png">
    <meta property="og:image:width " content="1200">
    <meta property="og:image:height" content="1200">
    <meta property="og:image:alt" content="Einkaufswagen">
    <meta property="og:description" content="{{ $description }}">
    <meta property="og:locale" content="{{ replace .Site.LanguageCode "-" "_"}}">
    <link rel="canonical" href="{{ .Permalink }}">
    <link rel="icon" href="data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3e%3ctext y='.9em' font-size='90'%3e🛒%3c/text%3e%3c/svg%3e">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="theme-color" content="#f57c00">
    {{- $choices := resources.Get "scss/vendor/choices.scss" | toCSS }}
    {{- $app := resources.Get "scss/app.scss" | toCSS }}
    {{- $style := slice $choices $app | resources.Concat "css/main.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
  </head>
  <body>
    <header id="oben">
      <h1><a href="/" aria-label="Zur Startseite navigieren">🛒</a>{{ block "heading" . }}{{ .Title }}{{ end }}</h1>
      {{- block "back" . }}{{ end }}
      <label for="cities">1. Ort</label>
      <select class="form-control" name="cities" id="cities"></select>
      <label for="shops">2. Geschäft oder Kategorie</label>
      <select class="form-control" name="shops" id="shops"></select>
      <button disabled id="search-btn">3. Gehe zur Auswahl</button>
    </header>
    <hr>
    <main>
      {{- block "main" . }}{{ end }}
    </main>
    <nav aria-label="Springe nach oben">
      <ul>
        <li><a href="#oben">nach oben ↑</a></li>
      </ul>
    </nav>
    <hr>
    {{ partialCached "footer.html" . }}
    {{- $choices := resources.Get "/js/choices.js" }}
    {{- $app := resources.Get "/js/app.js" }}
    {{- $js := slice $choices $app | resources.Concat "js/main.js" | minify | fingerprint }}
    <script>
    if (!('fetch' in window && 'assign' in Object)) {
      const polyfills = ['polyfills', 'es6-promise.auto.min', 'fetch.umd'];
      for (let i = 0; i < polyfills.length; i++) {
        const script = document.createElement('script');
        script.async = false;
        script.src = '/js/' + polyfills[i] + '.js';
        document.head.appendChild(script);
      }
    }
    </script>
    <script defer src="{{ $js.RelPermalink }}"></script>
  </body>
</html>
