{{- define "title" -}}
{{ .Title }} - {{ .Site.Title }} | {{ .Site.Params.site }}
{{- end }}
{{- define "heading" -}}
Les affaires dans {{ .Title }}
{{- end }}
{{ define "main" }}
<section id="eintraege">
  <h2 class="visually-hidden">Entrées</h2>
  <div class="filter filter-entries">
    <input type="text" placeholder="Filtrer les entrées..." aria-label="Filtrer les entrées...">
    <div><samp>{{ len .Pages }}</samp>Entrées</div>
  </div>
  <ul class="columns m-0">
  {{- $entries := slice }}
    {{- range .Pages }}
    {{- $dirs := split .File.Dir "/" }}
    {{- $main := index $dirs 0 }}
    {{- $city := index $dirs 1 }}
    {{- $location := index .Site.Data "cities" $city .File.BaseFileName }}
    {{- $street := $location.street }}
    {{- if not $street }}
    {{- $street = "(sans chauffeur)" }}
    {{- end }}
    {{- $entry := dict "shop" .Params.shop "lat" $location.latitude "lon" $location.longitude "link" .RelPermalink "title" .Title "street" $street }}
    {{- $entries = $entries | append $entry }}
    {{- end }}
    {{- $doneEntries := slice }}
    {{- range $entries }}
    {{- $titleEntries := where $entries "title" .title }}
    {{- if (gt (len $titleEntries) 1) }}
    {{- if not (in $doneEntries .title) }}
    {{- $doneEntries = $doneEntries | append .title }}
    {{- range $titleEntries }}
    <li data-shop="{{ .shop }}" data-lat="{{ .lat }}" data-lon="{{ .lon }}"><a href="{{ .link }}">{{ .title }} - {{ .street }}</a></li>
    {{- end }}
    {{- end }}
    {{- else }}
    <li data-shop="{{ .shop }}" data-lat="{{ .lat }}" data-lon="{{ .lon }}"><a href="{{ .link }}">{{ .title }}</a></li>
    {{- end }}
    {{- end }}
  </ul>
  <p>Une entrée est manquante ? Veuillez le saisir dans la base de données gratuite d'<a href="https://www.openstreetmap.org/" rel="nofollow noopener">OpenStreetMap ↗</a>!</p>
</section>
<div class="row">
  <section id="infos" class="col-md-6">
    <h2 class="visually-hidden">Kategorien</h2>
    <div class="categories">
      {{- $shops := slice }}
      {{- range .RegularPages }}
      {{- $shops = $shops | append .Params.shop }}
      {{- end }}
      {{- $sortedShops := sort $shops | uniq }}
      <div class="filter filter-categories">
        <input type="text" placeholder="Name filtern..." aria-label="Name filtern...">
        <div><samp>{{ len $sortedShops }}</samp>Kategorien</div>
      </div>
      {{- range $sortedShops }}
      {{- $sortedShop := . }}
      {{- range where ($.Site.GetPage "taxonomyTerm" "shops").Pages ".Title" . }}
      <button>{{ $sortedShop }}<svg class="icon" role="img" aria-hidden="true"><use href={{ printf "%s%s" "/img/sprite.svg#" .Params.icon | relURL }}></use></svg></button>
      {{- end }}
      {{- end }}
    </div>  
  </section>
  <section class="col-md-6 mt-1 mt-md-0">
    <h2 class="visually-hidden">Karte</h2>
    <div id="map" class="is-overlay">
      {{ partialCached "load-btn.html" . -}}
      <a href="https://www.openstreetmap.org/search?query={{ .Title }}" rel="nofollow noopener">OpenStreetMap ↗</a>
      <a href="https://www.google.com/maps/dir//{{ .Title }}" rel="nofollow noopener">Google Maps ↗</a>
      {{ partialCached "locate-btn.html" . -}}
    </div>
  </section>
</div>
<div class="row mt-1">
  <div class="col-lg-7">
    <article id="description">
      <aside>
        <div class="row">
          <div class="col-sm-6">
            <p>{{ with .Content }}{{ . }}{{ else }}Il n'y a pas encore de texte pour le lieu d'achat général à {{ .Title }}. Vous pouvez saisir une description <a href="https://github.com/{{ .Site.Params.org }}/{{ .Site.Params.repo }}/edit/master/content/{{ with .File }}{{ .Dir }}{{ end }}_index.md" rel="nofollow noopener">ici ↗</a> 🙂{{ end }}</p>
          </div>
          <div class="col-sm-6">
            <p class="float-right-md"><strong>Météo à {{ .Title }}</strong></p>
            {{- $coordsLocation := .Title }}
            {{- if .Params.latitude }}
            {{- $coordsLocation = printf "%.2f,%.2f" .Params.latitude .Params.longitude }}
            {{- end }}
            <img loading="lazy" class="img-fluid float-right-md" src="{{ printf "https://wttr.in/%s_0pQ_I_background=faebdc_lang=%s.png" $coordsLocation .Site.LanguageCode }}" alt="Météo actuelle à {{ .Title }}">
          </div>
        </div>
      </aside>
    </article>
  </div>
  <div class="col-lg-5">
    {{ partialCached "chat.html" . -}}
  </div>
</div>
{{- end }}
{{- define "back" }}
<nav aria-label="Passer au {{ .Site.Title }} ou sauter au sommet">
  <ul>
    <li><a href="/{{ .Site.Params.repo }}/">↶ retour à {{ .Site.Title }}</a></li>
    <li><a href="#top">vers le haut ↑</a></li>
  </ul>
</nav>
{{- end }}