{{- define "title" -}}
{{ .Title }} - {{ .Site.Title }} | {{ .Site.Params.site }}
{{- end }}
{{- define "heading" -}}
Shops in {{ .Title }}
{{- end }}
{{ define "main" }}
{{- $dirs := split .File.Dir "/" }}
{{- $main := index $dirs 0 }}
{{- $city := index $dirs 1 }}
<section id="infos">
  {{- $shops := slice }}
  {{- range .RegularPages }}
    {{- $shops = $shops | append (index .Site.Data $main $city .File.BaseFileName).shop }}
  {{- end }}
  <div class="row">
    <div class="col-md-6">
      <div class="categories">
        {{- range sort $shops | uniq }}
        <button>{{ . }}</button>
        {{- end }}
      </div>  
    </div>
    <div class="col-md-6 mt-sm-1">
      <div id="map" class="is-overlay">
        {{ partialCached "load-btn.html" . -}}
        <a href="https://www.openstreetmap.org/search?query={{ .Title }}" rel="nofollow noopener">OpenStreetMap ↗</a>
        <a href="https://www.google.com/maps/dir//{{ .Title }}" rel="nofollow noopener">Google Maps ↗</a>
        {{ partialCached "locate-btn.html" . -}}
      </div>
    </div>
  </div>
</section>
{{ partialCached "chat.html" . -}}
<article id="description" class="mt-1">
  {{ with .Content }}{{ . }}{{ else }}<aside><p>Es gibt noch keinen Text zur allgemeinen Einkaufslage in {{ .Title }}. Du kannst eine Beschreibung <a href="https://github.com/{{ .Site.Params.org }}/{{ .Site.Params.repo }}/edit/master/content/{{ with .File }}{{ .Dir }}{{ end }}_index.md" rel="nofollow noopener">hier ↗</a> eintragen 🙂</p></aside>{{ end }}
</article>
<section id="entries">
  <div class="filter">
    <input type="text" placeholder="Filter name..." aria-label="Filter name...">
    <div><samp>{{ len .RegularPages }}</samp>entries</div>
  </div>
  <ul class="columns">
    {{- range .RegularPages }}
    {{- $location := index .Site.Data $main $city .File.BaseFileName }}
    <li data-shop="{{ $location.shop }}" data-lat="{{ $location.latitude }}" data-lon="{{ $location.longitude }}"><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
    {{- end }}
  </ul>
</section>
{{- end }}
{{- define "back" }}
<nav aria-label="Change to {{ .Site.Title }} or jump to top">
  <ul>
    <li><a href="/{{ .Site.Params.repo }}/">↶ back to {{ .Site.Title }}</a></li>
    <li><a href="#top">to top ↑</a></li>
  </ul>
</nav>
{{- end }}