{{- define "title" -}}
{{ .Title }} ({{ .Params.shop }}) - {{ .Parent.Title }} - {{ .Site.Title }} | {{ .Site.Params.site }}
{{- end }}
{{- define "heading" -}}
Shop at {{ .Title }} ({{ .Params.shop }})
{{- end }}
{{ define "main" }}
{{- $dirs := split .File.Dir "/" }}
{{- $main := index $dirs 0 }}
{{- $city := index $dirs 1 }}
{{- $location := index .Site.Data $main $city .File.BaseFileName }}
<div class="row">
  <section id="infos" class="col-md-6">
    <h2 class="visually-hidden">Infos</h2>
    <aside>
      <ul class="list-unstyled mt-0">
        <li>Adress: {{ $location.street }} {{ $location.housenumber }} in {{ $location.postcode }} {{ $location.city }}</li>
        {{- with $location.opening_hours }}<li>Opening Hours: <span id="opening-hours">{{ . }}</span></li>{{ end }}
        {{- with $location.phone }}<li>Telephone: <a href="tel:{{ urlize . }}">{{ . }}</a></li>{{ end }}
        {{- with $location.website }}<li class="text-truncate">Website: <a href="{{ . }}" rel="nofollow noopener">{{ . }}</a></li>{{ end }}
        <li hidden data-lat="{{ $location.latitude }}" data-lon="{{ $location.longitude }}"><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
      </ul>
      <hr>
      {{- range where ($.Site.GetPage "taxonomyTerm" "shops").Pages ".Title" .Params.shop }}
      <p><samp>{{ $.Params.shop }}<svg class="icon" role="img" aria-hidden="true"><use href={{ printf "%s%s" "/img/sprite.svg#" .Params.icon | relURL }}></use></svg></samp> in <a href="/{{ .Site.Params.repo }}/{{ $city }}/#{{ $.Params.shop }}">↶ {{ $.Parent.Title }}</a> or <a href="/{{ .Site.Params.repo }}{{ .Params.url }}">↺ {{ .Site.Title }}</a></p>
      {{- end }}
    </aside>
  </section>
  <section class="col-md-6 mt-sm-1">
    <h2 class="visually-hidden">Map</h2>
    <div id="map" class="is-overlay">
      {{ partialCached "load-btn.html" . -}}
      <a href="https://www.openstreetmap.org/{{ $location.type }}/{{ $location.id }}" rel="nofollow noopener">OpenStreetMap ↗</a>
      <a href="https://www.google.com/maps/dir//{{ replace $location.street " " "%20" }}%20{{ replace $location.housenumber " " "%20" }},{{ replace $location.postcode " " "%20" }}%20{{ replace $location.city " " "%20" }}" rel="nofollow noopener">Google Maps ↗</a>
      {{ partialCached "locate-btn.html" . -}}
    </div>
  </section>
</div>
<div class="row mt-1">
  <div class="col-lg-7">
    <article id="beschreibung">
      <aside>
        <div class="row">
          <div class="col-sm-6">
            <p>{{ with .Content }}{{ . }}{{ else }}There is no text about {{ .Title }} in {{ .Parent.Title }} yet. You can enter a description <a href="https://github.com/{{ .Site.Params.org }}/{{ .Site.Params.repo }}/edit/master/content/{{ with .File }}{{ .Dir }}{{ end }}{{ .File.BaseFileName }}.md" rel="nofollow noopener">here ↗</a> 🙂{{ end }}</p>
          </div>
          <div class="col-sm-6">
            <p class="float-right-md"><strong>Weather in {{ .Parent.Title }}</strong></p>
            <img loading="lazy" class="img-fluid float-right-md" src="{{ printf "https://wttr.in/%.2f,%.2f_0pQ_I_background=faebdc_lang=%s.png" $location.latitude $location.longitude .Site.LanguageCode }}" alt="Current weather in {{ .Parent.Title }}">
          </div>
        </div>
      </aside>
    </article>
  </div>
  <div class="col-lg-5">
    {{ partialCached "chat.html" . -}}
  </div>
</div>
{{- if (or .NextInSection .PrevInSection) }}
<nav aria-label="Change to previous or next shop in {{ .Parent.Title }}">
  <ul>
    {{- with .NextInSection }}
    <li><a href="{{ .RelPermalink }}">← {{ .Title }}</a></li>
    {{- end }}
    {{- with .PrevInSection }}
    <li><a href="{{ .RelPermalink }}">{{ .Title }} →</a></li>
    {{- end }}
  </ul>
</nav>
{{- end }}
{{- end }}
{{- define "back" }}
{{- $dirs := split .File.Dir "/" }}
{{- $city := index $dirs 1 }}
<nav aria-label="Change to {{ .Parent.Title }} or jump to top">
  <ul>
    <li><a href="/{{ .Site.Params.repo }}/{{ $city }}/">↶ back to {{ .Parent.Title }}</a></li>
    <li><a href="#top">to top ↑</a></li>
  </ul>
</nav>
{{- end }}
