{{- define "title" -}}
{{ .Title }} - {{ .Parent.Title }} - {{ .Site.Title }} | {{ .Site.Params.site }}
{{- end }}
{{- define "heading" -}}
Einkaufen bei {{ .Title }}
{{- end }}
{{ define "main" }}
{{- $dirs := split .File.Dir "/" }}
{{- $main := index $dirs 0 }}
{{- $city := index $dirs 1 }}
{{- $location := index .Site.Data $main $city .File.BaseFileName }}
<nav aria-label="Wechsle zu {{ .Parent.Title }} oder springe zur Karte">
  <ul>
    <li><a href="/{{ .Site.Params.repo }}/{{ $city }}/">↶ zurück zu {{ .Parent.Title }}</a></li>
    <li><a href="#karte">zur Karte ⇣</a></li>
  </ul>
</nav>
<article id="beschreibung">
  {{ with .Content }}{{ . }}{{ else }}<aside><p>Es gibt noch keinen Text über {{ .Title }} in {{ .Parent.Title }}. Du kannst eine Beschreibung <a href="https://github.com/{{ .Site.Params.org }}/{{ .Site.Params.repo }}/edit/master/content/{{ with .File }}{{ .Dir }}{{ end }}{{ .File.BaseFileName }}.md" rel="nofollow noopener">hier ↗</a> eintragen :)</p></aside>{{ end }}
</article>
<hr>
<section id="infos">
  <aside>
    <ul>
      <li>{{ $location.street }} {{ $location.housenumber }} in {{ $location.postcode }} {{ $location.city }}</li>
      {{ with $location.opening_hours }}<li>Öffnungszeiten: {{ . }}</li>{{ end }}
      {{ with $location.phone }}<li>Telefon: {{ . }}</li>{{ end }}
      {{ with $location.website }}<li><a href="{{ . }}" rel="nofollow noopener">{{ . }}</a></li>{{ end }}
      <li hidden data-lat="{{ $location.latitude }}" data-lon="{{ $location.longitude }}"><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
    </ul>
  </aside>
</section>
<section id="karte">
  <div id="map" class="is-overlay">
    {{ partialCached "load-btn.html" . -}}
    <a href="https://www.openstreetmap.org/{{ $location.type }}/{{ $location.id }}" rel="nofollow noopener">OpenStreetMap ↗</a>
    {{ partialCached "locate-btn.html" . -}}
  </div>
</section>
{{- if (or .NextInSection .PrevInSection) }}
<nav aria-label="Wechsle zu vorheriger oder nächster Lokalität">
  <ul>
    {{- with .NextInSection }}
    <li><a href="{{ .RelPermalink }}">← {{ .Title }}</a></li>
    {{- end }}
    {{- with .PrevInSection }}
    <li><a href="{{ .RelPermalink }}">{{ .Title }} →</a></li>
    {{- end }}
  </ul>
</nav>
{{- end }}
{{- end }}
