{{- define "title" -}}
{{ .Title }} - {{ .Site.Title }} | {{ .Site.Params.site }}
{{- end }}
{{- define "heading" -}}
{{ .Title }} shops in {{ .Site.Title }}
{{- end }}
{{ define "main" }}
<section>
  <h2 class="visually-hidden">Map</h2>
  <div id="map" class="is-overlay w-100">
    {{ partialCached "load-btn.html" . -}}
    <a href="https://www.openstreetmap.org/search?query={{ .Title }}" rel="nofollow noopener">OpenStreetMap ↗</a>
    <a href="https://www.google.com/maps/dir//{{ .Title }}" rel="nofollow noopener">Google Maps ↗</a>
    {{ partialCached "locate-btn.html" . -}}
  </div>
</section>
<section id="entries">
  <h2 class="visually-hidden">Entries</h2>
  <div class="filter filter-entries">
    <input type="text" placeholder="Filter name..." aria-label="Filter name...">
    <div><samp>{{ len (where .Site.Pages "Params.shop" .Title) }}</samp>entries</div>
  </div>
  <ul class="columns">
    {{- range where .Site.Pages "Params.shop" .Title }}
    {{- $dirs := split .File.Dir "/" }}
    {{- $main := index $dirs 0 }}
    {{- $city := index $dirs 1 }}
    {{- $location := index .Site.Data $main $city .File.BaseFileName }}
    <li data-shop="{{ .Params.shop }}" data-lat="{{ $location.latitude }}" data-lon="{{ $location.longitude }}"><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
    {{- end }}
  </ul>
  <p>Missing an entry? Please add it to the free database at <a href="https://www.openstreetmap.org/" rel="nofollow noopener">OpenStreetMap ↗</a>!</p>
</section>
<div class="row mt-1">
  <div class="col-lg-7">
    <article id="description">
      <aside>
        <div class="row">
          <div class="col-sm-6">
            <p>{{ with .Content }}{{ . }}{{ else }}There is no text on category {{ .Title }} in {{ .Site.Title }} yet. You can enter a description <a href="https://github.com/{{ .Site.Params.org }}/{{ .Site.Params.repo }}/edit/master/content/{{ with .File }}{{ .Dir }}{{ end }}_index.md" rel="nofollow noopener">here ↗</a> 🙂{{ end }}</p>
          </div>
          <div class="col-sm-6">
            <p class="float-right-md"><strong>Weather in {{ .Site.Title }}</strong></p>
            <img loading="lazy" class="img-fluid float-right-md" src="{{ printf "https://wttr.in/%s_0pQ_I_background=faebdc_lang=%s.png" .Site.Title .Site.LanguageCode }}" alt="Current weather in {{ .Site.Title }}">
          </div>
        </div>
      </aside>
    </article>
  </div>
  <div class="col-lg-5">
    {{ partialCached "chat.html" . -}}
  </div>
</div>
{{- end }}
{{- define "back" }}
<nav aria-label="Change to {{ .Site.Title }} or jump to top">
  <ul>
    <li><a href="/{{ .Site.Params.repo }}/">↶ back to {{ .Site.Title }}</a></li>
    <li><a href="#top">to top ↑</a></li>
  </ul>
</nav>
{{- end }}
