{{- define "title" -}}
{{ .Title }} - {{ .Site.Title }} | {{ .Site.Params.site }}
{{- end }}
{{- define "heading" -}}
Les {{ .Title }} affaires dans {{ .Site.Title }}
{{- end }}
{{ define "main" }}
<section>
  <h2 class="visually-hidden">Carte</h2>
  <div id="map" class="is-overlay w-100">
    {{ partialCached "load-btn.html" . -}}
    <a href="https://www.openstreetmap.org/search?query={{ .Title }}" rel="nofollow noopener">OpenStreetMap ↗</a>
    <a href="https://www.google.com/maps/dir//{{ .Title }}" rel="nofollow noopener">Google Maps ↗</a>
    {{ partialCached "locate-btn.html" . -}}
  </div>
</section>
<section id="entrees">
  <h2 class="visually-hidden">Entrées</h2>
  <div class="filter filter-entries">
    <input type="text" placeholder="Nom du filtre..." aria-label="Nom du filtre...">
    <div><samp>{{ len (where .Site.Pages "Params.shop" .Title) }}</samp>Entrées</div>
  </div>
  <ul class="columns">
    {{- range where .Site.Pages "Params.shop" .Title }}
    {{- $dirs := split .File.Dir "/" }}
    {{- $main := index $dirs 0 }}
    {{- $city := index $dirs 1 }}
    {{- $location := index .Site.Data $main $city .File.BaseFileName }}
    <li data-shop="{{ .Params.shop }}" data-lat="{{ $location.latitude }}" data-lon="{{ $location.longitude }}"><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
    {{- end }}
  </ul>
  <p>Une entrée est manquante ? Veuillez le saisir dans la base de données gratuite d'<a href="https://www.openstreetmap.org/" rel="nofollow noopener">OpenStreetMap ↗</a>!</p>
</section>
<div class="row mt-1">
  <div class="col-lg-7">
    <article id="description">
      <aside>
        <div class="row">
          <div class="col-sm-6">
            <p>{{ with .Content }}{{ . }}{{ else }}Il n'y a pas encore de texte pour la catégorie {{ .Title }} dans {{ .Site.Title }}. Vous pouvez saisir une description <a href="https://github.com/{{ .Site.Params.org }}/{{ .Site.Params.repo }}/edit/master/content/{{ with .File }}{{ .Dir }}{{ end }}_index.md" rel="nofollow noopener">ici ↗</a> 🙂{{ end }}</p>
          </div>
          <div class="col-sm-6">
            <p class="float-right-md"><strong>Météo à {{ .Site.Title }}</strong></p>
            <img loading="lazy" class="img-fluid float-right-md" src="{{ printf "https://wttr.in/%s_0pQ_I_background=faebdc_lang=%s.png" .Site.Title .Site.LanguageCode }}" alt="Météo actuelle à {{ .Site.Title }}">
          </div>
        </div>
      </aside>
    </article>
  </div>
  <div class="col-lg-5">
    {{ partialCached "chat.html" . -}}
  </div>
</div>
{{- end }}
{{- define "back" }}
<nav aria-label="Passer à {{ .Site.Title }} ou sauter en haut de la page">
  <ul>
    <li><a href="/{{ .Site.Params.repo }}/">↶ retour à {{ .Site.Title }}</a></li>
    <li><a href="#top">vers le haut ↑</a></li>
  </ul>
</nav>
{{- end }}
