<div class="row mt-1">
    <div class="col-md-6">
        <a href="https://www.fossjobs.net/" rel="nofollow noopener">
            <img class="img-fluid" loading="lazy" src="{{ `/img/fossjobs-banner.png` | relURL }}" width="1050" height="200" alt="Banner for fossjobs.net, a job board exclusively for paid free & open source jobs">
        </a>
    </div>
    <div class="col-md-6">
        <a href="https://www.eff.org/" rel="nofollow noopener">
            <img class="img-fluid" loading="lazy" src="{{ `/img/eff-logo-1color-blue.svg` | relURL }}" width="1050" height="200" alt="Banner for eff.org, the leading nonprofit defending digital privacy, free speech and innovation">
        </a>
    </div>
</div>
