<section id="chat" class="mt-1 mt-lg-0">
    <h2 class="visually-hidden">Shoutbox</h2>
    <details>
        <summary>Shoutbox mit <samp id="chat-samp">0</samp> Einträgen aufklappen </summary>
        <ul id="chatbox" class="list-unstyled m-0"></ul>
        <form id="chat-form">
            <div class="input-group">
                <input id="chat-input" class="form-control" type="text" autocomplete="off" placeholder="Schreiben..." aria-label="Chateingabefeld">
                <button id="chat-btn"
                        type="button"
                        title="Nachricht senden"
                        aria-label="Nachricht senden">
                        Senden
                </button>
            </div>
        </form>
    </details>
</section>
