<section id="chat" class="mt-md-1">
    <h2 class="visually-hidden">Shoutbox</h2>
    <details>
        <summary class="float-right-lg">Open shoutbox with <samp id="chat-samp">0</samp> entries</summary>
        <ul id="chatbox" class="list-unstyled m-0"></ul>
        <form id="chat-form">
            <div class="input-group">
                <input id="chat-input" class="form-control" type="text" autocomplete="off" placeholder="Write..." aria-label="Chatinputfield">
                <button id="chat-btn"
                        type="button"
                        title="Send message"
                        aria-label="Send message">
                        Send
                </button>
            </div>
        </form>
    </details>
</section>
