<footer class="text-center">
  <a href="https://kiwiirc.com/nextclient/#irc://irc.freenode.net:+6697/{{ .Site.Params.org }}" rel="nofollow noopener">
    Chat ↗
  </a>
  <a href="https://github.com/{{ .Site.Params.org }}{{ with .Site.Params.repo }}/{{ . }}{{ end }}" rel="noopener">
    Source code ↗
  </a>
  <a href="https://creativecommons.org/licenses/by-nc/4.0/deed.en" rel="nofollow noopener">
    BY-NC ↗
  </a>
  <a href="/legal/">
    Legal
  </a>
  <a href="/privacy/">
    Privacy
  </a>
  <p>Built with &lt;3 by <a href="https://rohner.io/" rel="noopener">Rohner Solutions ↗</a></p>
  <samp>Last Update on {{ now.Format "January 2, 2006" }}</samp>
</footer>
