<footer class="text-center">
  <a href="https://kiwiirc.com/nextclient/#irc://irc.libera.chat:+6697/{{ lower .Site.Params.site }}" rel="nofollow noopener">
    Chat ↗
  </a>
  <a href="https://github.com/{{ .Site.Params.org }}{{ with .Site.Params.repo }}/{{ . }}{{ end }}" rel="noopener">
    Texte source ↗
  </a>
  <a href="https://creativecommons.org/licenses/by-nc/4.0/deed.de" rel="nofollow noopener">
    BY-NC ↗
  </a>
  <a href="/impressum/">
    Mentions légales
  </a>
  <a href="/datenschutz/">
    Protection des données
  </a>
  <p>Construit avec &lt;3 par <a href="https://rohner.io/" rel="noopener">Rohner Solutions ↗</a></p>
  <samp>Dernière mise à jour le {{ now.Format "January 2, 2006" }}</samp>
</footer>
